/* ----- import fonts ----- */

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");

/* ------ set clean elements styling by removing default margins and paddings ----- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ------ set easy unit conversion for REM font size (1 REM = 10px) that still allows font scaling in browser ----- */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: #fffef7;
}

/* ----- common styles ----- */

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* --------------- welcome / landing page --------------- */
/* --- credits #1 (see README.md credits section) --- */

#welcome-page-html,
#welcome-page-body {
  height: 100%;
  overflow: hidden; /* --- credits #31 (see README.md credits section) --- */
}

.showcase {
  height: 100vh;
  text-align: center;
  color: #fffef7;
  padding: 0 20px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #09097a url("/static/img/warrior-clip-snapshot.png") no-repeat
    center center/cover;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
  object-fit: cover;
}

.video-container:after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(99, 99, 99, 0.5);
  position: absolute;
}

.landing-page-content {
  z-index: 2;
  position: absolute;
  top: 70%;
}

.landing-page-title {
  font-weight: 400;
  font-size: 5rem;
  line-height: 1.2;
  margin-bottom: 12px;
  text-shadow: 3px 2px #000000;
}

.landing-page-subtitle {
  font-style: italic;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 8px;
  text-shadow: 1px 2px #000000;
}

.enter-site-button {
  display: inline-block;
  text-decoration: none;
  padding: 8px 24px;
  background: #fa7e0a;
  color: #fffef7;
  border-radius: 5px;
  border: solid #fffef7 2px;
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 1.8rem;
}

.enter-site-button:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background: rgba(250, 126, 10, 0.6);
}

.landing-page-content img {
  width: 100px;
}

/* --------------- navbar --------------- */

nav {
  background: -o-linear-gradient(210deg, #2b2bc4 0%, #09097a 100%);
  background: linear-gradient(240deg, #2b2bc4 0%, #09097a 100%);
}

nav ul a {
  font-size: 1.6rem;
}

nav ul li:hover {
  background-color: #09097a;
  -webkit-transition: background-color 2s ease 0s;
  -o-transition: background-color 2s ease 0s;
  transition: background-color 2s ease 0s;
}

.brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  line-height: 82px;
}

.brand-logo img {
  width: 200px;
}

.waves-effect.waves-custom .waves-ripple {
  background-color: #fa7e0a;
}

/* --------------- mobile sidenav --------------- */

.sidenav {
  background-color: #fffef7;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.sidenav-logo-container {
  height: 100px;
  background: -o-linear-gradient(210deg, #2b2bc4 0%, #09097a 100%);
  background: linear-gradient(240deg, #2b2bc4 0%, #09097a 100%);
}

.sidenav-logo {
  height: auto;
  width: 200px;
}

.sidenav li a {
  color: #09097a;
  font-size: 1.8rem;
  border-bottom: 2px solid #09097a;
  text-align: center;
}

.sidenav li > a:hover {
  color: #fffef7;
  background-color: #09097a;
}

/* --------------- home section --------------- */

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  scroll-margin-top: 56px; /* --- credits #30 (see README.md credits section) --- */
}

.section-title {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 500;
  margin: 20px 0px 10px 0px;
}

.welcome-container h2,
.dba-info-container h2 {
  font-size: 2.6rem;
  font-weight: 400;
  margin: 12px 0px 6px 0px;
}

.welcome-container p,
.dba-info-container p {
  font-size: 1.6rem;
  font-weight: 400;
}

/* --------------- band section --------------- */

#band {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  scroll-margin-top: 56px; /* --- credits #30 (see README.md credits section) --- */
}

#pontus-container,
#marcusr-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#marcusw-container,
#christopher-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.slider,
.artist-info-container {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider .slides li,
.artist-info-container {
  height: 400px;
  margin: 10px 0px;
}

.slider .slides li img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: auto;
  background-size: none;
  background-position: none;
  border-radius: 50px;
  overflow: hidden;
}

.artist-info-container h2 {
  text-align: center;
  font-weight: 500;
  margin-left: 12px;
  margin-right: 12px;
}

.artist-info-container h3 {
  text-align: center;
  font-style: italic;
  margin-left: 24px;
  margin-right: 24px;
}

/* --------------- blog section --------------- */

#blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  scroll-margin-top: 56px; /* --- credits #30 (see README.md credits section) --- */
}

.double-blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.single-blog-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  background-color: rgba(231, 231, 224, 0.5);
  padding: 24px;
  margin: 8px;
}

.single-blog-container h2 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

.single-blog-container h4 {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
  margin-top: 10px;
}

.single-blog-container p {
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 12px;
}

.blog-btn {
  margin-top: 10px;
  width: 200px;
  color: #fffef7;
  background-color: #fa7e0a;
  font-size: 1.5rem;
  font-weight: 500;
}

.blog-btn:hover {
  background-color: #09097a;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.blog-btn:focus {
  background-color: #09097a;
}

/* --------------- tour section --------------- */

#tour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  scroll-margin-top: 56px; /* --- credits #30 (see README.md credits section) --- */
}

.tour-container {
  background-color: rgba(231, 231, 224, 0.5);
  padding: 16px;
  margin: 30px 0px;
  height: 160px;
  border: 2px solid #fa7e0a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.tour-date {
  text-align: center;
  white-space: pre-line;
  width: 100%;
  height: 100%;
}

.tour-date h3 {
  font-weight: 600;
  font-size: 2.7rem;
}

.tour-venue {
  text-align: center;
  width: 100%;
  height: 100%;
}

.tour-venue h3 {
  font-weight: 500;
  font-size: 2.7rem;
}

.tour-location {
  text-align: center;
  white-space: pre-line;
  width: 100%;
  height: 100%;
}

.tour-location h3 {
  font-weight: 500;
  font-size: 2.7rem;
}

.rsvp-btn-container {
  width: 100%;
  height: 100%;
}

.rsvp-btn {
  width: 110px;
  color: #fffef7;
  background-color: #09097a;
  font-size: 1.5rem;
  font-weight: 500;
}

.rsvp-btn:hover {
  background-color: #fa7e0a;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.rsvp-btn:focus {
  background-color: #fa7e0a;
}

.tickets-btn-container {
  width: 100%;
  height: 100%;
}

.tickets-btn {
  width: 150px;
  color: #fffef7;
  background-color: #fa7e0a;
  font-size: 1.5rem;
  font-weight: 500;
}

.tickets-btn:hover {
  background-color: #09097a;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.tickets-btn:focus {
  background-color: #09097a;
}

/* --------------- parallax --------------- */

.parallax-container {
  height: 30vh;
  margin-top: 20px;
}

/* --------------- albums page --------------- */

.album-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 24px;
}

.album-collapsible {
  width: 60%;
  margin-bottom: 24px;
}

.album-one {
  background-color: #2d2d31;
  color: #fffef7;
}

.collapsible-header {
  margin: 0;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.album-title-container {
  width: 100%;
  font-size: 2.4rem;
}

.fa-caret-down {
  color: red;
  margin-left: 12px;
}

.collapsible-body {
  padding: 3%;
}

.album-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.album-content-container img {
  height: auto;
  width: 60%;
  -webkit-box-shadow: 3px 3px 5px 5px rgb(160, 160, 160);
  box-shadow: 3px 3px 5px 5px rgb(160, 160, 160);
}

.album-info {
  width: 60%;
  text-align: center;
  margin-top: 12px;
  font-size: 2.8rem;
  font-weight: 400;
}

.album-info span {
  font-weight: 600;
}

/* --- tracklist --- */

.tracklist-title-container {
  width: 100%;
  font-size: 2.2rem;
}

.collapsible-body-tracklist-info {
  padding: 0;
  border-bottom: none;
}

.tracklist-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.regular-tracklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bonus-tracklist-header {
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: #fda827b3;
  border-bottom: 2px solid black;
  border-top: 1px solid black;
}

.track {
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  color: black;
  width: 100%;
  background-color: rgba(134, 145, 240, 0.671);
  border-bottom: 1px solid black;
}

.bonus-tracklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* --- comments */

.comments-title-container {
  width: 100%;
  font-size: 2.2rem;
}

.write-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #575755;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;
}

.write-comment textarea {
  background-color: #e7e7e0;
  color: #09097a;
  height: 80px;
  margin-bottom: 6px;
  padding: 10px;
  border-radius: 10px;
  resize: vertical;
}

.comment-textarea::-webkit-input-placeholder {
  color: #09097a;
}

.comment-textarea::-moz-placeholder {
  color: #09097a;
}

.comment-textarea:-ms-input-placeholder {
  color: #09097a;
}

.comment-textarea::-ms-input-placeholder {
  color: #09097a;
}

.comment-textarea::placeholder {
  color: #09097a;
}

.comment-textarea:focus {
  outline: none !important;
  border: 2px solid #ffa825;
}

.comment-submit-btn {
  color: #fffef7;
  background-color: #09097a;
  margin: 0 0 6px 0;
  padding: 8px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.comment-submit-btn:hover {
  background-color: #fa7e0a;
  cursor: pointer;
}

.comment-submit-btn:focus {
  background-color: #fa7e0a;
}

/* - edit comment button - */

.edit-comment-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fffef7;
  background-color: #fa7e0a;
  width: 64px;
  margin: 6px 0;
  padding: 8px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.edit-comment-btn a {
  color: #fffef7;
}

.fa-pen-square {
  margin-left: 6px;
}

.edit-comment-btn:hover {
  background-color: #09097a;
  cursor: pointer;
}

.edit-comment-btn:focus {
  background-color: #09097a;
}

/* - delete comment button - */

.delete-comment-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fffef7;
  background-color: #fa0a0a;
  width: 82px;
  margin: 6px 16px;
  padding: 8px;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.delete-comment-btn a {
  color: #fffef7;
}

.fa-minus-square {
  margin-left: 6px;
}

.delete-comment-btn:hover {
  background-color: #09097a;
  cursor: pointer;
}

.delete-comment-btn:focus {
  background-color: #09097a;
}

.login-notice {
  margin: 0 0 12px 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

.login-notice a {
  color: #fa7e0a;
  font-weight: 600;
}

.login-notice a:hover {
  font-size: 1.9rem;
  color: #09097a;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #e7e7e0;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 10px;
}

.comment-container h4 {
  color: #2b2bc4;
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.comment-container p {
  overflow-wrap: break-word; /* --- credits #29 (see README.md credits section) --- */
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.edit-delete-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* --- rating --- */

.album-rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fa7e0a;
  font-size: 2.2rem;
  padding: 6px;
}

.rating-header {
  margin-bottom: 16px;
  font-size: 2.2rem;
  font-weight: 500;
  color: #000000;
}

.total-votes {
  font-size: 1.8rem;
  font-weight: 400;
  color: #09097a;
  font-style: italic;
}

/* --- input range slider */

.rating-slider-container {
  margin-top: 12px;
  margin-bottom: 12px;
  height: 40px;
  width: 80%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.rating-slider-container form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* --- credits #4 (see README.md credits section) --- */
input[type="range"] {
  width: 80% !important;
  margin: 7px 0 !important;
  background-color: transparent !important;
  -webkit-appearance: none !important;
}

input[type="range"]:focus {
  outline: none !important;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #fffef7 !important;
  border: 0 !important;
  border-radius: 25px !important;
  width: 80% !important;
  height: 6px !important;
  cursor: pointer !important;
}

input[type="range"]::-webkit-slider-thumb {
  margin-top: -5px !important;
  width: 16px !important;
  height: 16px !important;
  background: #09097a !important;
  border: 0 !important;
  border-radius: 50px !important;
  cursor: pointer !important;
  -webkit-appearance: none !important;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 254, 247, 0.8) !important;
}

input[type="range"]::-moz-range-track {
  background: #fffef7 !important;
  border: 0 !important;
  border-radius: 25px !important;
  width: 80% !important;
  height: 6px !important;
  cursor: pointer !important;
}

input[type="range"]::-moz-range-thumb {
  width: 16px !important;
  height: 16px !important;
  background: #09097a !important;
  border: 0 !important;
  border-radius: 50px !important;
  cursor: pointer !important;
}

input[type="range"]::-ms-track {
  background: transparent !important;
  border-color: transparent !important;
  border-width: 7px 0 !important;
  color: transparent !important;
  width: 80% !important;
  height: 6px !important;
  cursor: pointer !important;
}

input[type="range"]::-ms-fill-lower {
  background: #fffef7 !important;
  border: 0 !important;
  border-radius: 50px !important;
}

input[type="range"]::-ms-fill-upper {
  background: #fffef7 !important;
  border: 0 !important;
  border-radius: 50px !important;
}

input[type="range"]::-ms-thumb {
  width: 16px !important;
  height: 16px !important;
  background: #09097a !important;
  border: 0 !important;
  border-radius: 50px !important;
  cursor: pointer !important;
  margin-top: 0px !important;
  /*Needed to keep the Edge thumb centred*/
}

input[type="range"]:focus::-ms-fill-lower {
  background: rgba(255, 254, 247, 0.8) !important;
}

input[type="range"]:focus::-ms-fill-upper {
  background: rgba(255, 254, 247, 0.8) !important;
}

#slider-album-001,
#slider-album-002,
#slider-album-003,
#slider-album-004 {
  border: none !important;
  outline: none !important;
}

#slider-album-001::after,
#slider-album-002::after,
#slider-album-003::after,
#slider-album-004::after {
  content: "100";
  color: #09097a;
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  right: 0%;
  top: 8px;
}

#slider-album-001::before,
#slider-album-002::before,
#slider-album-003::before,
#slider-album-004::before {
  content: "1";
  color: #09097a;
  font-size: 2rem;
  font-weight: 500;
  position: absolute;
  left: 0%;
  top: 8px;
}

.your-rating {
  color: #000000;
  margin-top: 0px;
  font-size: 1.4rem;
  font-weight: 500;
}

#your-album-001-rating,
#your-album-002-rating,
#your-album-003-rating,
#your-album-004-rating {
  color: #fffef7;
}

.rating-submit-btn {
  color: #fffef7;
  background-color: #09097a;
  margin: 6px 0 16px 0px;
  padding: 6px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.rating-submit-btn:hover {
  color: #09097a;
  background-color: #fffef7;
  cursor: pointer;
}

.rating-submit-btn:focus {
  color: #09097a;
  background-color: #fffef7;
}

/* --- modal --- */

.modal {
  padding: 10px;
  background-color: #fffef7;
  border-radius: 10px;
  width: 50%;
}

.modal-footer a {
  font-weight: bold;
  color: red;
}

.delete-confirm-modal {
  padding: 20px 10px;
  background-color: #fffef7;
  border-radius: 10px;
  width: 20%;
}

.delete-confirm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.delete-confirm-container h4 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 16px;
}

.delete-confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#confirm-no {
  margin-left: 12px;
}

/* --------------- registration page --------------- */

.register-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  min-height: 50px;
  border: 2px solid #fa7e0a;
  padding: 24px;
  border-radius: 10px;
}

.register-form h3 {
  font-weight: 500;
  margin: 0px 0px 16px 0px;
  padding: 0;
}

.input-field {
  width: 80%;
}

.fa-user-plus,
.fa-user-lock {
  color: #09097a;
}

.register-btn {
  padding: 8px;
  color: #fffef7;
  background-color: #09097a;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.register-btn:hover {
  background-color: #fa7e0a;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.register-btn:focus {
  background-color: #fa7e0a;
}

.input-field > label {
  color: #000000;
  font-size: 1.4rem;
}

.navigate-login-container {
  margin: 16px 0px;
}

.navigate-login-container p {
  font-size: 2rem;
}

.navigate-login-container a {
  color: #fa7e0a;
}

.navigate-login-container a:hover {
  color: #09097a;
}

/* --------------- log in page --------------- */

.login-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  min-height: 50px;
  border: 2px solid #fa7e0a;
  padding: 24px;
  border-radius: 10px;
}

.login-form h3 {
  font-weight: 500;
  margin: 0px 0px 16px 0px;
  padding: 0;
}

.fa-user {
  color: #09097a;
}

.login-btn {
  padding: 8px;
  color: #fffef7;
  background-color: #09097a;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: #fa7e0a;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.login-btn:focus {
  background-color: #fa7e0a;
}

.navigate-register-container {
  margin: 16px 0px;
}

.navigate-register-container p {
  font-size: 2rem;
}

.navigate-register-container a {
  color: #fa7e0a;
}

.navigate-register-container a:hover {
  color: #09097a;
}

/* --- flash messages --- */

.flashes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: rgba(250, 126, 10, 0.5);
  color: #09097a;
}

.flashes h4 {
  margin: 0;
  padding: 0;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 2;
}

/* --------------- footer --------------- */

footer {
  background: #09097a;
  color: #fffef7;
  padding: 12px 0px;
}

footer div {
  font-size: 2rem;
}

footer i {
  color: #fffef7;
  font-size: 4rem;
  margin: 16px 20px;
  padding: 0;
}

footer i:hover {
  color: rgba(255, 254, 247, 0.6);
}

/* --------------- error pages --------------- */

.error-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 48px;
  background: #fffef7;
  color: #09097a;
}

.error-container h2 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.error-container p {
  font-size: 2rem;
  font-weight: 500;
  padding-top: 24px;
  text-align: center;
}

.error-container a {
  color: #fa7e0a;
  text-decoration: none;
}

.error-container a:hover {
  color: #09097a;
  cursor: pointer;
}

/* --------------- welcome / landing page media queries --------------- */

@media (max-width: 1025px) {
  .landing-page-content {
    margin-bottom: 40px;
  }

  .landing-page-title {
    font-size: 4.4rem;
    margin-bottom: 10px;
  }

  .landing-page-subtitle {
    font-size: 2.2rem;
    margin-bottom: 6px;
  }

  .enter-site-button {
    padding: 6px 20px;
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 1.6rem;
  }
}

@media (max-width: 870px) {
  .landing-page-content {
    margin-bottom: 30px;
  }

  .landing-page-title {
    font-size: 4rem;
    margin-bottom: 8px;
  }

  .landing-page-subtitle {
    font-size: 2rem;
    margin-bottom: 5px;
  }

  .enter-site-button {
    padding: 5px 18px;
    margin-top: 7px;
    margin-bottom: 11px;
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .landing-page-title {
    font-size: 3.4rem;
    margin-bottom: 6px;
  }

  .landing-page-subtitle {
    font-size: 1.8rem;
    margin-bottom: 4px;
  }

  .enter-site-button {
    padding: 4px 12px;
    margin-top: 4px;
    margin-bottom: 6px;
    font-size: 1.4rem;
  }

  .landing-page-content img {
    width: 80px;
  }
}

@media (max-width: 454px) {
  .landing-page-title {
    font-size: 3rem;
  }
}

@media (max-width: 454px) {
  .landing-page-title {
    font-size: 3rem;
  }

  .landing-page-subtitle {
    font-size: 1.6rem;
  }

  .landing-page-content img {
    width: 70px;
  }
}

@media (max-width: 399px) {
  .landing-page-title {
    font-size: 2.6rem;
    text-shadow: 2px 1px #000000;
  }

  .landing-page-subtitle {
    font-size: 1.5rem;
    text-shadow: 1px 1px #000000;
  }
}

@media (max-width: 352px) {
  .landing-page-title {
    font-size: 2.3rem;
  }

  .landing-page-subtitle {
    font-size: 1.4rem;
  }

  .enter-site-button {
    padding: 4px 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.3rem;
  }
}

@media (max-width: 318px) {
  .landing-page-title {
    font-size: 2rem;
  }

  .landing-page-subtitle {
    font-size: 1.3rem;
  }
}

@media (max-width: 721px) and (max-height: 561px) {
  .landing-page-content {
    top: 62%;
  }
}

@media (max-width: 825px) and (max-height: 415px) {
  .landing-page-content {
    top: 48%;
  }
}

@media (max-width: 581px) and (max-height: 332px) {
  .landing-page-content {
    top: 40%;
  }
}

@media (max-width: 662px) and (max-height: 305px) {
  .landing-page-content {
    top: 35%;
  }
}

/* --------------- navbar media queries --------------- */

@media (max-width: 601px) {
  .brand-logo {
    line-height: 68px;
  }

  .brand-logo img {
    width: 160px;
  }
}

@media (max-width: 321px) {
  .brand-logo {
    line-height: 62px;
  }

  .brand-logo img {
    width: 120px;
  }
}

/* --------------- parallax media queries --------------- */

@media (max-width: 1367px) {
  .parallax-container {
    height: 25vh;
  }
}

@media (max-width: 1025px) {
  .parallax-container {
    height: 20vh;
    margin-top: 15px;
  }
}

@media (max-width: 769px) {
  .parallax-container {
    height: 15vh;
    margin-top: 10px;
  }
}

/* --------------- section-title media queries --------------- */

@media (max-width: 1025px) {
  .section-title {
    font-size: 3.6rem;
    margin: 16px 0px 6px 0px;
  }
}

@media (max-width: 786px) {
  .section-title {
    font-size: 3.2rem;
    margin: 12px 0px 4px 0px;
  }
}

@media (max-width: 601px) {
  .section-title {
    font-size: 2.8rem;
    margin: 10px 0px 4px 0px;
  }
}

@media (max-width: 420px) {
  .section-title {
    font-size: 2.7rem;
    margin: 8px 0px 4px 0px;
  }
}

@media (max-width: 350px) {
  .section-title {
    font-size: 2.6rem;
  }
}

@media (max-width: 316px) {
  .section-title {
    font-size: 2.4rem;
  }
}

/* --------------- homepage home section media queries --------------- */

@media (max-width: 1367px) {
  .welcome-container h2,
  .dba-info-container h2 {
    font-size: 2.4rem;
    margin: 8px 0px 6px 0px;
  }

  .welcome-container p,
  .dba-info-container p {
    font-size: 1.5rem;
  }
}

@media (max-width: 1025px) {
  .welcome-container h2,
  .dba-info-container h2 {
    font-size: 2.2rem;
  }

  .welcome-container p,
  .dba-info-container p {
    font-size: 1.4rem;
  }
}

@media (max-width: 601px) {
  .welcome-container h2,
  .dba-info-container h2 {
    font-size: 2rem;
  }

  .welcome-container p,
  .dba-info-container p {
    font-size: 1.3rem;
  }
}

@media (max-width: 486px) {
  .welcome-container h2,
  .dba-info-container h2 {
    font-size: 1.9rem;
    margin: 6px 0px 4px 0px;
  }

  .welcome-container p,
  .dba-info-container p {
    font-size: 1.2rem;
  }
}

@media (max-width: 352px) {
  .welcome-container h2,
  .dba-info-container h2 {
    font-size: 1.8rem;
  }

  .welcome-container p,
  .dba-info-container p {
    font-size: 1.1rem;
  }
}

/* --------------- homepage band section media queries --------------- */

@media (max-width: 1316px) {
  .slider .slides li,
  .artist-info-container {
    height: 350px;
  }

  .artist-info-container h2 {
    font-size: 3.2rem;
  }

  .artist-info-container h3 {
    font-size: 2.6rem;
  }
}

@media (max-width: 992px) {
  #pontus-container,
  #marcusr-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #marcusw-container,
  #christopher-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .slider {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    height: 350px !important;
  }

  .artist-info-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    height: auto;
  }

  .artist-info-container h2 {
    margin: 10px 12px;
  }

  .artist-info-container h3 {
    margin: 6px 24px;
  }
}

@media (max-width: 541px) {
  .slider {
    height: 250px !important;
  }

  .slider .slides li {
    height: 250px;
  }
  .artist-info-container h2 {
    font-size: 2.8rem;
    margin: 8px 10px;
  }

  .artist-info-container h3 {
    font-size: 2rem;
    margin: 4px 12px;
  }
}

/* --------------- homepage blog section media queries --------------- */

@media (max-width: 1120px) {
  .single-blog-container h2 {
    font-size: 2.4rem;
  }

  .single-blog-container h4 {
    font-size: 1.8rem;
    margin-top: 8px;
  }

  .single-blog-container p {
    font-size: 1.6rem;
    margin-top: 10px;
  }

  .blog-btn {
    margin-top: 10px;
    width: 160px;
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .double-blog-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 415px) {
  .single-blog-container {
    padding: 12px;
    margin: 8px;
  }

  .single-blog-container h2 {
    font-size: 2.2rem;
  }

  .single-blog-container h4 {
    font-size: 1.7rem;
    margin-top: 6px;
  }

  .single-blog-container p {
    font-size: 1.4rem;
    margin-top: 6px;
  }

  .blog-btn {
    margin-top: 6px;
    width: 120px;
    font-size: 1.2rem;
  }
}

@media (max-width: 321px) {
  .single-blog-container h2 {
    font-size: 2rem;
  }

  .single-blog-container h4 {
    font-size: 1.6rem;
  }

  .single-blog-container p {
    font-size: 1.2rem;
    margin-top: 4px;
  }
}

/* --------------- homepage tour section media queries --------------- */

@media (max-width: 1140px) {
  .tour-container {
    padding: 8px;
  }

  .tour-date h3,
  .tour-venue h3,
  .tour-location h3 {
    font-size: 2.5rem;
  }

  .rsvp-btn {
    width: 90px;
    font-size: 1.4rem;
  }

  .tickets-btn {
    width: 130px;
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .tour-date h3,
  .tour-venue h3,
  .tour-location h3 {
    font-size: 2.2rem;
  }

  .rsvp-btn {
    width: 70px;
    font-size: 1.3rem;
  }

  .tickets-btn {
    width: 110px;
    font-size: 1.3rem;
  }
}

@media (max-width: 740px) {
  .tour-container {
    margin: 20px 0px;
    height: 120px;
  }

  .tour-date h3,
  .tour-venue h3,
  .tour-location h3 {
    font-size: 2rem;
  }

  .rsvp-btn {
    width: 70px;
    font-size: 1.2rem;
  }

  .tickets-btn {
    width: 110px;
    font-size: 1.2rem;
  }
}

@media (max-width: 650px) {
  .tour-container {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    height: auto;
    width: 60%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 12px;
    margin: 10px 0px;
  }

  .tour-date h3,
  .tour-venue h3,
  .tour-location h3 {
    margin: 0;
    white-space: normal;
    margin-bottom: 12px;
  }

  .rsvp-btn {
    margin-bottom: 12px;
  }
}

@media (max-width: 530px) {
  .tour-container {
    width: 70%;
  }
}

@media (max-width: 440px) {
  .tour-container {
    width: 80%;
  }
}

@media (max-width: 370px) {
  .tour-container {
    width: 100%;
  }

  .tour-date h3,
  .tour-venue h3,
  .tour-location h3 {
    font-size: 1.8rem;
  }

  .rsvp-btn {
    width: 60px;
    font-size: 1.1rem;
  }

  .tickets-btn {
    width: 100px;
    font-size: 1.1rem;
  }
}

/* --------------- albums page media queries --------------- */

@media (max-width: 1661px) {
  .album-collapsible {
    width: 61%;
  }
}

@media (max-width: 1611px) {
  .album-collapsible {
    width: 62%;
  }
}

@media (max-width: 1561px) {
  .album-collapsible {
    width: 63%;
  }
}

@media (max-width: 1511px) {
  .album-collapsible {
    width: 64%;
  }
}

@media (max-width: 1461px) {
  .album-collapsible {
    width: 65%;
  }
}

@media (max-width: 1411px) {
  .album-collapsible {
    width: 66%;
  }
}

@media (max-width: 1361px) {
  .album-collapsible {
    width: 67%;
  }
}

@media (max-width: 1311px) {
  .album-collapsible {
    width: 68%;
  }
}

@media (max-width: 1261px) {
  .album-collapsible {
    width: 69%;
  }
}

@media (max-width: 1211px) {
  .album-collapsible {
    width: 70%;
  }
}

@media (max-width: 1161px) {
  .album-collapsible {
    width: 72%;
  }
}

@media (max-width: 1111px) {
  .album-collapsible {
    width: 74%;
  }
}

@media (max-width: 1061px) {
  .album-collapsible {
    width: 76%;
  }
}

@media (max-width: 1011px) {
  .album-collapsible {
    width: 78%;
  }
}

@media (max-width: 961px) {
  .album-collapsible {
    width: 80%;
  }
}

@media (max-width: 911px) {
  .album-collapsible {
    width: 82%;
  }
}

@media (max-width: 861px) {
  .album-collapsible {
    width: 84%;
  }
}

@media (max-width: 811px) {
  .album-container {
    margin-top: 16px;
  }

  .album-title-container,
  .tracklist-title-container,
  .comments-title-container {
    font-size: 2.1rem;
  }

  .album-info {
    margin-top: 10px;
    font-size: 2.4rem;
  }

  .track,
  .bonus-tracklist-header {
    font-size: 1.7rem;
  }

  .comment-submit-btn {
    padding: 6px;
  }

  .edit-comment-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 58px;
    padding: 6px;
    font-size: 1.3rem;
    height: 28px;
  }

  .delete-comment-btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 76px;
    padding: 6px;
    font-size: 1.3rem;
    height: 28px;
  }

  .rating-header {
    font-size: 2rem;
  }

  #slider-album-001::after,
  #slider-album-002::after,
  #slider-album-003::after,
  #slider-album-004::after {
    font-size: 1.8rem;
  }

  #slider-album-001::before,
  #slider-album-002::before,
  #slider-album-003::before,
  #slider-album-004::before {
    font-size: 1.8rem;
  }

  .collapsible-body-album-info {
    padding: 2%;
  }

  .album-collapsible {
    width: 86%;
  }
}

@media (max-width: 761px) {
  .album-collapsible {
    width: 88%;
  }
}

@media (max-width: 711px) {
  .album-collapsible {
    width: 90%;
  }
}

@media (max-width: 561px) {
  .album-container {
    margin-top: 6px;
  }

  .collapsible-header {
    padding: 4px;
  }

  .album-title-container,
  .tracklist-title-container,
  .comments-title-container {
    font-size: 2rem;
  }

  .album-info {
    margin-top: 6px;
    font-size: 2.2rem;
  }

  .comment-submit-btn {
    padding: 5px;
    margin: 0;
    font-size: 1.3rem;
  }

  .comment-container h4 {
    margin: 0 0 3px 0;
    font-size: 1.5rem;
  }

  .comment-container p {
    font-size: 1.4rem;
  }
}

@media (max-width: 441px) {
  .album-collapsible {
    width: 95%;
  }

  .album-info {
    font-size: 2rem;
  }

  .edit-comment-btn {
    height: 26px;
    margin: 4px 0;
  }

  .delete-comment-btn {
    height: 26px;
    margin: 4px 12px;
  }

  .rating-header {
    font-size: 1.8rem;
    padding-bottom: 10px;
  }

  .album-rating-container {
    padding: 12px 8px 16px 8px;
  }

  .rating-submit-btn {
    margin: 16px 0 16px 0px;
  }

  #slider-album-001::after,
  #slider-album-002::after,
  #slider-album-003::after,
  #slider-album-004::after {
    font-size: 1.6rem;
  }

  #slider-album-001::before,
  #slider-album-002::before,
  #slider-album-003::before,
  #slider-album-004::before {
    font-size: 1.6rem;
  }
}

@media (max-width: 371px) {
  .track,
  .bonus-tracklist-header {
    font-size: 1.6rem;
  }
}

@media (max-width: 331px) {
  .album-collapsible {
    width: 100%;
  }

  .album-title-container,
  .tracklist-title-container,
  .comments-title-container {
    font-size: 1.8rem;
  }

  .album-info {
    font-size: 1.8rem;
  }

  .track,
  .bonus-tracklist-header {
    font-size: 1.5rem;
  }

  .comment-container h4 {
    font-size: 1.4rem;
  }

  .comment-container p {
    font-size: 1.3rem;
  }

  .comment-submit-btn {
    padding: 6px;
    margin: 0;
    font-size: 1.2rem;
  }

  .edit-comment-btn {
    height: 24px;
    width: 56px;
    font-size: 1.2rem;
  }

  .delete-comment-btn {
    height: 24px;
    width: 70px;
    font-size: 1.2rem;
  }

  .write-comment textarea {
    font-size: 1.4rem;
  }

  .rating-header {
    font-size: 1.7rem;
  }

  .total-votes {
    font-size: 1.5rem;
  }

  .your-rating {
    font-size: 1.3rem;
  }

  input[type="range"] {
    width: 90% !important;
  }
}

/* --- modal media queries --- */

@media (max-width: 811px) {
  .modal {
    width: 65%;
  }

  .delete-confirm-modal {
    width: 40%;
  }
}

@media (max-width: 551px) {
  .delete-confirm-modal {
    width: 50%;
  }
}

@media (max-width: 441px) {
  .modal {
    width: 90%;
  }

  .delete-confirm-modal {
    width: 75%;
  }
}

@media (max-width: 311px) {
  .delete-confirm-modal {
    width: 80%;
  }
}

/* ----------- flash messages media queries ----------- */

@media (max-width: 771px) {
  .flashes {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .flashes h4 {
    font-size: 2.4rem;
  }
}

@media (max-width: 551px) {
  .flashes {
    margin-top: 12px;
    margin-bottom: 8px;
  }

  .flashes h4 {
    font-size: 2.2rem;
  }
}

@media (max-width: 421px) {
  .flashes {
    margin-top: 10px;
    margin-bottom: 7px;
  }

  .flashes h4 {
    font-size: 1.7rem;
  }
}

@media (max-width: 331px) {
  .flashes {
    margin-top: 8px;
    margin-bottom: 6px;
  }

  .flashes h4 {
    font-size: 1.5rem;
  }
}

@media (max-width: 297px) {
  .flashes {
    margin-top: 6px;
    margin-bottom: 4px;
  }

  .flashes h4 {
    font-size: 1.4rem;
  }
}

/* --------------- login & register page media queries --------------- */

@media (max-width: 1151px) {
  .register-form,
  .login-form {
    width: 65%;
  }
}

@media (max-width: 751px) {
  .register-form,
  .login-form {
    width: 80%;
  }

  .register-form h3,
  .login-form h3 {
    font-size: 2.7rem;
  }

  #username,
  #password {
    font-size: 1.3rem;
  }

  .input-field > label {
    font-size: 1.2rem;
  }

  .register-btn,
  .login-btn {
    padding: 7px;
    font-size: 1.4rem;
  }

  .navigate-login-container p,
  .navigate-register-container p {
    font-size: 1.8rem;
  }
}

@media (max-width: 481px) {
  .register-form,
  .login-form {
    width: 90%;
    padding: 12px;
  }

  .register-form h3,
  .login-form h3 {
    font-size: 2.4rem;
  }

  .input-field .prefix ~ input {
    width: 90% !important;
  }

  .navigate-login-container p,
  .navigate-register-container p {
    font-size: 1.6rem;
  }
}

@media (max-width: 341px) {
  .register-form,
  .login-form {
    width: 97%;
  }

  .register-btn,
  .login-btn {
    font-size: 1.2rem;
  }

  .navigate-login-container p,
  .navigate-register-container p {
    font-size: 1.4rem;
  }
}

/* --------------- footer media queries --------------- */

@media (max-width: 993px) {
  footer {
    padding: 12px 0px;
  }

  footer div {
    font-size: 1.9rem;
  }

  footer i {
    font-size: 3.6rem;
    margin: 12px 16px;
  }
}

@media (max-width: 651px) {
  footer {
    padding: 8px 0px;
  }

  footer div {
    font-size: 1.7rem;
  }

  footer i {
    font-size: 3.2rem;
    margin: 10px 12px;
  }
}

@media (max-width: 447px) {
  footer {
    padding: 8px 0px;
  }

  footer div {
    font-size: 1.6rem;
  }

  footer i {
    font-size: 3rem;
    margin: 8px 10px;
  }
}

@media (max-width: 340px) {
  footer div {
    font-size: 1.4rem;
  }
}

/* --------------- error pages media queries --------------- */

@media (max-width: 551px) {
  .error-container {
    padding: 36px 12px;
  }

  .error-container h2 {
    font-size: 2.7rem;
  }

  .error-container p {
    font-size: 1.8rem;
    padding-top: 16px;
  }
}

@media (max-width: 451px) {
  .error-container h2 {
    font-size: 2.4rem;
  }

  .error-container p {
    font-size: 1.6rem;
  }
}

@media (max-width: 401px) {
  .error-container h2 {
    font-size: 2.2rem;
  }

  .error-container p {
    font-size: 1.5rem;
  }
}

@media (max-width: 372px) {
  .error-container h2 {
    font-size: 2.1rem;
  }
}

@media (max-width: 341px) {
  .error-container h2 {
    font-size: 2rem;
  }

  .error-container p {
    font-size: 1.4rem;
  }
}

@media (max-width: 318px) {
  .error-container h2 {
    font-size: 1.8rem;
  }

  .error-container p {
    font-size: 1.3rem;
  }
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
