<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- load custom css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet preload" as="style"/>
    <!-- load favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/dba-favicon.ico') }}">
    <title>DBA critics</title>
</head>
<body>

    <!-- error page -->
    <section>
        <div class="error-container">
            <h2>Error 500: internal server error</h2>
            <p>Take me <a href="{{ url_for('homepage') }}">back to the homepage</a>.</p>
        </div>
    </section>

</body>
</html>