{% extends "base.html" %}
{% block content %}

    <!-- Dead by April (2009) -->
    <section class="container">
        <div class="album-container">
            <ul class="collapsible expandable album-collapsible">
                <li class="active">
                    <div class="collapsible-header album-one">
                        <div class="album-title-container">
                            <div>Dead by April<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- album info -->
                    <div class="collapsible-body collapsible-body-album-info">
                        <div class="album-content-container">
                            <img src="/static/img/dba-album-2009.png">
                            <div class="album-info">
                                <div><span>Year: </span>2009</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header album-one">
                        <div class="tracklist-title-container">
                            <div>Tracklist<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- tracklist -->
                    <div class="collapsible-body collapsible-body-tracklist-info">
                        <div class="tracklist-content-container">
                            <div class="regular-tracklist">
                                <div class="track">Trapped</div>
                                <div class="track">Angels of Clarity</div>
                                <div class="track">Losing You</div>
                                <div class="track">What Can I Say</div>
                                <div class="track">Erased</div>
                                <div class="track">Promise Me</div>
                                <div class="track">Falling Behind</div>
                                <div class="track">Sorry for Everything</div>
                                <div class="track">In My Arms</div>
                                <div class="track">Stronger</div>
                                <div class="track">Carry Me</div>
                                <div class="track">A Promise</div>
                                <div class="track">I Made It</div>
                            </div>
                            <div class="bonus-tracklist">
                                <div class="bonus-tracklist-header">Bonus/Exclusive:</div>
                                <div class="track">Leaves Falling</div>
                                <div class="track">My Saviour</div>
                                <div class="track">Losing You (alternate version)</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header album-one">
                        <div class="comments-title-container">
                            <div>Comments<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- comments section -->
                    <div class="collapsible-body">
                        {% if session.user %}
                            <div class="write-comment">
                                <form method="POST" action="{{ url_for('post_comment', album_id='001') }}">
                                    <!-- write comment -->
                                    <textarea class="comment-textarea" name="album_001_comment" id="album_001_comment" minlength="1" maxlength="300" placeholder="Write your comment here..." required></textarea>
                                    <label for="album_001_comment"></label>
                                    <!-- submit comment -->
                                    <button type="submit" class="comment-submit-btn">Submit</button>
                                </form>
                            </div>
                        {% else %}
                            <h4 class="login-notice"><a href="{{ url_for('login') }}">Log in</a> to write a comment!</h4>
                        {% endif %}
                        <!-- album 1 comments section -->
                        {% for comment in comments %}
                        {% if comment.album_id == "001" %}
                        <div class="comment-container">
                            <h4>{{ comment.username }}</h4>
                            <p>{{ comment.comment }}</p>
                            {% if session.user == comment.username %}
                                <!-- Modal Trigger -->
                                <div class="edit-delete-btn-container">
                                    <button data-target="album_001_modal{{ comment._id }}" class="modal-trigger edit-comment-btn">Edit<i class="fas fa-pen-square"></i></button>
                                    <button data-target="delete_comment_modal{{ comment._id }}" class="modal-trigger delete-comment-btn">Delete<i class="fas fa-minus-square"></i></button>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                <li>
                    <div class="album-rating-container">
                        <div class="rating-header">Rating: {{ album001_avg_rating }} <span class="total-votes">({{ album001_vote_count }})</span></div>
                        <div class="rating-slider-container">
                            <form method="POST" action="{{ url_for('post_rating', album_id='001') }}">
                                {% if session.user %}
                                <input type="range" name="slider-album-001" id="slider-album-001" min="1" max="100"/>
                                <p class="your-rating">Your rating: <span id="your-album-001-rating">-</span></p>
                                <button type="submit" class="rating-submit-btn">Submit</button>
                                {% else %}
                                <input type="range" name="slider-album-001" id="slider-album-001" min="1" max="100" disabled/>
                                <p class="your-rating">Log in to vote</p>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- Incomparable (2011) -->
    <section class="container">
        <div class="album-container">
            <ul class="collapsible expandable album-collapsible">
                <li class="active">
                    <div class="collapsible-header album-one">
                        <div class="album-title-container">
                            <div>Incomparable<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- album info -->
                    <div class="collapsible-body collapsible-body-album-info">
                        <div class="album-content-container">
                            <img src="/static/img/incomparable-album-2011.jpg">
                            <div class="album-info">
                                <div><span>Year: </span>2011</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header album-one">
                        <div class="tracklist-title-container">
                            <div>Tracklist<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- tracklist -->
                    <div class="collapsible-body collapsible-body-tracklist-info">
                        <div class="tracklist-content-container">
                            <div class="regular-tracklist">
                                <div class="track">Dreaming</div>
                                <div class="track">Real & True</div>
                                <div class="track">Within My Heart</div>
                                <div class="track">More Than Yesterday</div>
                                <div class="track">Calling</div>
                                <div class="track">Two Faced</div>
                                <div class="track">Crossroads</div>
                                <div class="track">Incomparable</div>
                                <div class="track">Too Late</div>
                                <div class="track">You Should Know</div>
                                <div class="track">When You Wake Up</div>
                                <div class="track">Lost</div>
                                <div class="track">Last Goodbye</div>
                            </div>
                            <div class="bonus-tracklist">
                                <div class="bonus-tracklist-header">Bonus/Exclusive:</div>
                                <div class="track">Mystery</div>
                                <div class="track">Painting Shadows</div>
                                <div class="track">Unhateable</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header album-one">
                        <div class="comments-title-container">
                            <div>Comments<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- comments section -->
                    <div class="collapsible-body">
                        {% if session.user %}
                            <div class="write-comment">
                                <form method="POST" action="{{ url_for('post_comment', album_id='002') }}">
                                    <!-- write comment -->
                                    <textarea class="comment-textarea" name="album_002_comment" id="album_002_comment" minlength="1" maxlength="300" placeholder="Write your comment here..." required></textarea>
                                    <label for="album_002_comment"></label>
                                    <!-- submit comment -->
                                    <button type="submit" class="comment-submit-btn">Submit</button>
                                </form>
                            </div>
                        {% else %}
                            <h4 class="login-notice"><a href="{{ url_for('login') }}">Log in</a> to write a comment!</h4>
                        {% endif %}
                        <!-- album 2 comments section -->
                        {% for comment in comments %}
                        {% if comment.album_id == "002" %}
                        <div class="comment-container">
                            <h4>{{ comment.username }}</h4>
                            <p>{{ comment.comment }}</p>
                            {% if session.user == comment.username %}
                                <!-- Modal Trigger -->
                                <div class="edit-delete-btn-container">
                                    <button data-target="album_002_modal{{ comment._id }}" class="modal-trigger edit-comment-btn">Edit<i class="fas fa-pen-square"></i></button>
                                    <button data-target="delete_comment_modal{{ comment._id }}" class="modal-trigger delete-comment-btn">Delete<i class="fas fa-minus-square"></i></button>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                <li>
                    <div class="album-rating-container">
                        <div class="rating-header">Rating: {{ album002_avg_rating }} <span class="total-votes">({{ album002_vote_count }})</span></div>
                        <div class="rating-slider-container">
                            <form method="POST" action="{{ url_for('post_rating', album_id='002') }}">
                                {% if session.user %}
                                <input type="range" name="slider-album-002" id="slider-album-002" min="1" max="100"/>
                                <p class="your-rating">Your rating: <span id="your-album-002-rating">-</span></p>
                                <button type="submit" class="rating-submit-btn">Submit</button>
                                {% else %}
                                <input type="range" name="slider-album-002" id="slider-album-002" min="1" max="100" disabled/>
                                <p class="your-rating">Log in to vote</p>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- Let the World Know (2014) -->
    <section class="container">
        <div class="album-container">
            <ul class="collapsible expandable album-collapsible">
                <li class="active">
                    <div class="collapsible-header album-one">
                        <div class="album-title-container">
                            <div>Let the World Know<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- album info -->
                    <div class="collapsible-body collapsible-body-album-info">
                        <div class="album-content-container">
                            <img src="/static/img/lettheworldknow-album-2014.jpg">
                            <div class="album-info">
                                <div><span>Year: </span>2014</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header album-one">
                        <div class="tracklist-title-container">
                            <div>Tracklist<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- tracklist -->
                    <div class="collapsible-body collapsible-body-tracklist-info">
                        <div class="tracklist-content-container">
                            <div class="regular-tracklist">
                                <div class="track">Beautiful Nightmare</div>
                                <div class="track">Abnormal</div>
                                <div class="track">Empathy</div>
                                <div class="track">Done With Broken Hearts</div>
                                <div class="track">As a Butterfly</div>
                                <div class="track">Same Star</div>
                                <div class="track">Let the World Know</div>
                                <div class="track">Peace of Mind</div>
                                <div class="track">Freeze Frame</div>
                                <div class="track">Infinity x Infinity</div>
                                <div class="track">My Tomorrow</div>
                                <div class="track">Hold On</div>
                                <div class="track">Replace You</div>
                            </div>
                            <div class="bonus-tracklist">
                                <div class="bonus-tracklist-header">Bonus/Exclusive:</div>
                                <div class="track">Cause I Need You</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header album-one">
                        <div class="comments-title-container">
                            <div>Comments<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- comments section -->
                    <div class="collapsible-body">
                        {% if session.user %}
                            <div class="write-comment">
                                <form method="POST" action="{{ url_for('post_comment', album_id='003') }}">
                                    <!-- write comment -->
                                    <textarea class="comment-textarea" name="album_003_comment" id="album_003_comment" minlength="1" maxlength="300" placeholder="Write your comment here..." required></textarea>
                                    <label for="album_003_comment"></label>
                                    <!-- submit comment -->
                                    <button type="submit" class="comment-submit-btn">Submit</button>
                                </form>
                            </div>
                        {% else %}
                            <h4 class="login-notice"><a href="{{ url_for('login') }}">Log in</a> to write a comment!</h4>
                        {% endif %}
                        <!-- album 3 comments section -->
                        {% for comment in comments %}
                        {% if comment.album_id == "003" %}
                        <div class="comment-container">
                            <h4>{{ comment.username }}</h4>
                            <p>{{ comment.comment }}</p>
                            {% if session.user == comment.username %}
                                <!-- Modal Trigger -->
                                <div class="edit-delete-btn-container">
                                    <button data-target="album_003_modal{{ comment._id }}" class="modal-trigger edit-comment-btn">Edit<i class="fas fa-pen-square"></i></button>
                                    <button data-target="delete_comment_modal{{ comment._id }}" class="modal-trigger delete-comment-btn">Delete<i class="fas fa-minus-square"></i></button>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                <li>
                    <div class="album-rating-container">
                        <div class="rating-header">Rating: {{ album003_avg_rating }} <span class="total-votes">({{ album003_vote_count }})</span></div>
                        <div class="rating-slider-container">
                            <form method="POST" action="{{ url_for('post_rating', album_id='003') }}">
                                {% if session.user %}
                                <input type="range" name="slider-album-003" id="slider-album-003" min="1" max="100"/>
                                <p class="your-rating">Your rating: <span id="your-album-003-rating">-</span></p>
                                <button type="submit" class="rating-submit-btn">Submit</button>
                                {% else %}
                                <input type="range" name="slider-album-003" id="slider-album-003" min="1" max="100" disabled/>
                                <p class="your-rating">Log in to vote</p>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- Worlds Collide (2017) -->
    <section class="container">
        <div class="album-container">
            <ul class="collapsible expandable album-collapsible">
                <li class="active">
                    <div class="collapsible-header album-one">
                        <div class="album-title-container">
                            <div>Worlds Collide<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- album info -->
                    <div class="collapsible-body collapsible-body-album-info">
                        <div class="album-content-container">
                            <img src="/static/img/worldscollide-album-2017.jpg">
                            <div class="album-info">
                                <div><span>Year: </span>2017</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header album-one">
                        <div class="tracklist-title-container">
                            <div>Tracklist<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- tracklist -->
                    <div class="collapsible-body collapsible-body-tracklist-info">
                        <div class="tracklist-content-container">
                            <div class="regular-tracklist">
                                <div class="track">Crying Over You</div>
                                <div class="track">I Can't Breathe</div>
                                <div class="track">Playing with Fire</div>
                                <div class="track">Warrior</div>
                                <div class="track">Breaking Point</div>
                                <div class="track">My Heart Is Crushable</div>
                                <div class="track">Can You See the Red</div>
                                <div class="track">Our Worlds Collide</div>
                                <div class="track">This Is My Life</div>
                                <div class="track">Perfect the Way You Are</div>
                                <div class="track">For Every Step</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header album-one">
                        <div class="comments-title-container">
                            <div>Comments<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <!-- comments section -->
                    <div class="collapsible-body">
                        {% if session.user %}
                            <div class="write-comment">
                                <form method="POST" action="{{ url_for('post_comment', album_id='004') }}">
                                    <!-- write comment -->
                                    <textarea class="comment-textarea" name="album_004_comment" id="album_004_comment" minlength="1" maxlength="300" placeholder="Write your comment here..." required></textarea>
                                    <label for="album_004_comment"></label>
                                    <!-- submit comment -->
                                    <button type="submit" class="comment-submit-btn">Submit</button>
                                </form>
                            </div>
                        {% else %}
                            <h4 class="login-notice"><a href="{{ url_for('login') }}">Log in</a> to write a comment!</h4>
                        {% endif %}
                        <!-- album 4 comments section -->
                        {% for comment in comments %}
                        {% if comment.album_id == "004" %}
                        <div class="comment-container">
                            <h4>{{ comment.username }}</h4>
                            <p>{{ comment.comment }}</p>
                            {% if session.user == comment.username %}
                                <!-- Modal Trigger -->
                                <div class="edit-delete-btn-container">
                                    <button data-target="album_004_modal{{ comment._id }}" class="modal-trigger edit-comment-btn">Edit<i class="fas fa-pen-square"></i></button>
                                    <button data-target="delete_comment_modal{{ comment._id }}" class="modal-trigger delete-comment-btn">Delete<i class="fas fa-minus-square"></i></button>
                                </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </li>
                <li>
                    <div class="album-rating-container">
                        <div class="rating-header">Rating: {{ album004_avg_rating }} <span class="total-votes">({{ album004_vote_count }})</span></div>
                        <div class="rating-slider-container">
                            <form method="POST" action="{{ url_for('post_rating', album_id='004') }}">
                                {% if session.user %}
                                <input type="range" name="slider-album-004" id="slider-album-004" min="1" max="100"/>
                                <p class="your-rating">Your rating: <span id="your-album-004-rating">-</span></p>
                                <button type="submit" class="rating-submit-btn">Submit</button>
                                {% else %}
                                <input type="range" name="slider-album-004" id="slider-album-004" min="1" max="100" disabled/>
                                <p class="your-rating">Log in to vote</p>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <!-- album 001 modal -->
    {% for comment in comments %}
    <div id="album_001_modal{{ comment._id }}" class="modal">
        <div class="write-comment">
            <form method="POST" action="{{ url_for('edit_comment', comment_id=comment._id, album_id='001') }}">
                <!-- write comment -->
                <textarea class="comment-textarea" name="album_001_comment_edit" id="album_001_comment_edit" minlength="1" maxlength="300" required>{{ comment.comment }}</textarea>
                <label for="album_001_comment_edit"></label>
                <!-- submit comment -->
                <button type="submit" class="comment-submit-btn">Done</button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    {% endfor %}

    <!-- album 002 modal -->
    {% for comment in comments %}
    <div id="album_002_modal{{ comment._id }}" class="modal">
        <div class="write-comment">
            <form method="POST" action="{{ url_for('edit_comment', comment_id=comment._id, album_id='002') }}">
                <!-- write comment -->
                <textarea class="comment-textarea" name="album_002_comment_edit" id="album_002_comment_edit" minlength="1" maxlength="300" required>{{ comment.comment }}</textarea>
                <label for="album_002_comment_edit"></label>
                <!-- submit comment -->
                <button type="submit" class="comment-submit-btn">Done</button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    {% endfor %}

    <!-- album 003 modal -->
    {% for comment in comments %}
    <div id="album_003_modal{{ comment._id }}" class="modal">
        <div class="write-comment">
            <form method="POST" action="{{ url_for('edit_comment', comment_id=comment._id, album_id='003') }}">
                <!-- write comment -->
                <textarea class="comment-textarea" name="album_003_comment_edit" id="album_003_comment_edit" minlength="1" maxlength="300" required>{{ comment.comment }}</textarea>
                <label for="album_003_comment_edit"></label>
                <!-- submit comment -->
                <button type="submit" class="comment-submit-btn">Done</button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    {% endfor %}

    <!-- album 004 modal -->
    {% for comment in comments %}
    <div id="album_004_modal{{ comment._id }}" class="modal">
        <div class="write-comment">
            <form method="POST" action="{{ url_for('edit_comment', comment_id=comment._id, album_id='004') }}">
                <!-- write comment -->
                <textarea class="comment-textarea" name="album_004_comment_edit" id="album_004_comment_edit" minlength="1" maxlength="300" required>{{ comment.comment }}</textarea>
                <label for="album_004_comment_edit"></label>
                <!-- submit comment -->
                <button type="submit" class="comment-submit-btn">Done</button>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    {% endfor %}

    <!-- delete comment modal -->
    {% for comment in comments %}
    <div id="delete_comment_modal{{ comment._id }}" class="modal delete-confirm-modal">
        <div class="delete-confirm-container">
            <h4>Are you sure?</h4>
            <div class="delete-confirm">
                <a href="{{ url_for('delete_comment', comment_id=comment._id) }}" class="btn-small green accent-4" id="confirm-yes">Yes</a>
                <a href="#!" class="modal-close btn-small red accent-4" id="confirm-no">No</a>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}