{% extends "base.html" %}
{% block content %}

    <!-- Dead by April (2009) -->
    <section class="container">
        <div class="album-container">
            <ul class="collapsible expandable album-collapsible">
                <li class="active">
                    <div class="collapsible-header album-one">
                        <div class="album-title-container">
                            <div>Dead by April<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <div class="collapsible-body collapsible-body-album-info">
                        <div class="album-content-container">
                            <img src="/static/img/dba-album-2009.png">
                            <div class="album-info">
                                <div><span>Year: </span>2009</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header album-one">
                        <div class="tracklist-title-container">
                            <div>Tracklist<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <div class="collapsible-body collapsible-body-tracklist-info">
                        <div class="tracklist-content-container">
                            <div class="regular-tracklist">
                                <div class="track">Trapped</div>
                                <div class="track">Angels of Clarity</div>
                                <div class="track">Losing You</div>
                                <div class="track">What Can I Say</div>
                                <div class="track">Erased</div>
                                <div class="track">Promise Me</div>
                                <div class="track">Falling Behind</div>
                                <div class="track">Sorry for Everything</div>
                                <div class="track">In My Arms</div>
                                <div class="track">Stronger</div>
                                <div class="track">Carry Me</div>
                                <div class="track">A Promise</div>
                                <div class="track">I Made It</div>
                            </div>
                            <div class="bonus-tracklist">
                                <div class="bonus-tracklist-header">Bonus/Exclusive:</div>
                                <div class="track">Leaves Falling</div>
                                <div class="track">My Saviour</div>
                                <div class="track">Losing You (alternate version)</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header album-one">
                        <div class="comments-title-container">
                            <div>Comments<i class="fas fa-caret-down"></i></div>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        text placeholder
                    </div>
                </li>
                <li>
                    <div class="album-rating-container">
                        <div class="rating-header">Rating:</div>
                        <div class="rating">??</div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

{% endblock %}