<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS for Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- load font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- load custom css -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet preload" as="style"/>
    <!-- load favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/dba-favicon.ico') }}">
    <title>DBA critics</title>
</head>
<body>

    <!-- navbar -->
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="{{ url_for('homepage') }}" class="brand-logo">
                        <img width="200px" class="responsive-img" src="{{ url_for('static', filename='img/dbac-logo-transparent.png') }}">
                    </a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="right hide-on-med-and-down">
                        {%- if request.path == url_for('homepage') %}
                            <li class="waves-effect waves-custom"><a href="#home">Home</a></li>
                            <li class="waves-effect waves-custom"><a href="#band">Band</a></li>
                            <li class="waves-effect waves-custom"><a href="#blog">Blog</a></li>
                            <li class="waves-effect waves-custom"><a href="#tour">Tour</a></li>
                            <li class="waves-effect waves-custom"><a href="{{ url_for('albums') }}">Albums</a></li>
                        {% else %}
                            <li class="waves-effect waves-custom"><a href="{{ url_for('.homepage', _anchor='home') }}">Home</a></li>
                            <li class="waves-effect waves-custom"><a href="{{ url_for('.homepage', _anchor='band') }}">Band</a></li>
                            <li class="waves-effect waves-custom"><a href="{{ url_for('.homepage', _anchor='blog') }}">Blog</a></li>
                            <li class="waves-effect waves-custom"><a href="{{ url_for('.homepage', _anchor='tour') }}">Tour</a></li>
                            <li class="waves-effect waves-custom"><a href="{{ url_for('albums') }}">Albums</a></li>
                        {% endif %}
                        {% if session.user %}
                            <li class="waves-effect waves-custom"><a href="{{ url_for('logout') }}">Log out</a></li>
                        {% else %}
                            <li class="waves-effect waves-custom"><a href="{{ url_for('login') }}">Log in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- mobile sidenav -->
    <ul class="sidenav sidenav-close" id="mobile-demo">
        <div class="sidenav-logo-container">
            <img class="sidenav-logo" src="{{ url_for('static', filename='img/dbac-logo-transparent.png') }}">
        </div>
        {%- if request.path == url_for('homepage') %}
            <li class="waves-effect waves-custom"><a href="#home">Home</a></li>
            <li class="waves-effect waves-custom"><a href="#band">Band</a></li>
            <li class="waves-effect waves-custom"><a href="#blog">Blog</a></li>
            <li class="waves-effect waves-custom"><a href="#tour">Tour</a></li>
            <li class="waves-effect waves-custom"><a href="{{ url_for('albums') }}">Albums</a></li>
        {% else %}
            <li class="waves-effect waves-custom"><a href="{{ url_for('.homepage', _anchor='home') }}">Home</a></li>
            <li class="waves-effect waves-custom"><a href="{{ url_for('.homepage', _anchor='band') }}">Band</a></li>
            <li class="waves-effect waves-custom"><a href="{{ url_for('.homepage', _anchor='blog') }}">Blog</a></li>
            <li class="waves-effect waves-custom"><a href="{{ url_for('.homepage', _anchor='tour') }}">Tour</a></li>
            <li class="waves-effect waves-custom"><a href="{{ url_for('albums') }}">Albums</a></li>
        {% endif %}
        {% if session.user %}
            <li><a href="{{ url_for('logout') }}">Log out</a></li>
        {% else %}
            <li><a href="{{ url_for('login') }}">Log in</a></li>
        {% endif %}
    </ul>

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="container center">
            <div>Dead By April</div>
            <div>
                <a href="https://www.youtube.com/user/deadbyaprilofficial/videos" target="_blank"><i class="fab fa-youtube-square"></i></a>
                <a href="https://www.facebook.com/deadbyapril" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://twitter.com/dbaswe" target="_blank"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.instagram.com/deadbyapril_official/" target="_blank"><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
    </footer>
    

    <!-- Compiled and minified JavaScript for Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- load custom javascript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>