<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- load custom css -->
    <link href="/static/css/style.css" rel="stylesheet preload" as="style"/>
    <title>DBA critics</title>
</head>
<body>
    
    <!-- credits #?? (see README.md credits section) -->
    <section class="showcase">
        <div class="video-container">
            <!-- credits #?? (see README.md credits section) -->
            <video src="/static/video/dba-warrior-clip.mov" autoplay muted loop></video>
        </div>
        <div class="landing-page-content">
            <h1 class="landing-page-title">Welcome to DBA critics</h1>
            <h3 class="landing-page-subtitle">A website for Dead by April fans</h3>
            <a href="#" class="enter-site-button">Enter site</a>
            <div><img width="100px" src="/static/img/dbac-logo-transparent.png"></div>
        </div>
    </section>

</body>
</html>